---
- name: Check Ansible Automation Platform installer presence
  stat:
    path: "{{ aap_install_installer_dir }}/setup.sh"
  register: setup_sh

- name: Install Ansible Automation Platform installer package
  vars:
    installer_repo: >-
      ansible-automation-platform-{{ aap_install_version -}}
      -for-rhel-{{ ansible_facts.distribution_major_version -}}
      -{{ ansible_facts.architecture }}-rpms
  become: true
  dnf:
    state: "{{ 'latest' if aap_install_installer_update | bool else 'present' }}"
    name: ansible-automation-platform-installer
    enablerepo: "{{ installer_repo }}"
  register: installer_package
  when: aap_install_installer_update | bool or
        setup_sh.stat.isreg is not defined or
        not setup_sh.stat.isreg or
        not setup_sh.stat.executable

- name: Check Ansible Automation Platform installer status
  stat:
    path: "{{ aap_install_installer_dir }}"
  register: installer_dir

- name: Check automation controller status
  uri:
    url: https://{{ aap_install_controller_fqdn }}
    validate_certs: false
    method: GET
  register: controller_info
  failed_when: false
  when: not aap_install_installer_run_always | bool

- name: Check automation hub status
  uri:
    url: https://{{ aap_install_hub_fqdn }}
    validate_certs: false
    method: GET
  register: hub_info
  failed_when: false
  when:
    - aap_install_hub_fqdn
    - not aap_install_installer_run_always | bool

- name: Check EDA controller status
  uri:
    url: https://{{ aap_install_eda_controller_fqdn }}
    validate_certs: false
    method: GET
  register: eda_controller_info
  failed_when: false
  when:
    - aap_install_eda_controller_fqdn
    - not aap_install_installer_run_always | bool

- name: Create single-node inventory
  template:
    src: demo.j2
    dest: "{{ aap_install_inventory_path }}"
    mode: '0600'
  when:
    - not aap_install_inventory_custom
    - aap_install_demo_setup | bool

- name: Create multi-node inventory
  template:
    src: inventory.j2
    dest: "{{ aap_install_inventory_path }}"
    mode: '0600'
  when:
    - not aap_install_inventory_custom
    - not aap_install_demo_setup | bool

- name: Create custom inventory file
  template:
    src: "{{ aap_install_inventory_custom }}"
    dest: "{{ aap_install_inventory_path }}"
    mode: '0600'
  when: aap_install_inventory_custom

- name: Check installer log directory
  stat:
    path: "{{ aap_install_setup_log_dir }}"
  register: log_dir

- name: Create installer log directory
  file:
    state: directory
    path: "{{ aap_install_setup_log_dir }}"
    mode: '0750'
  when: not log_dir.stat.exists

- name: Install Ansible Automation Platform
  # For now, due to AAP-14991
  become: "{{ false if installer_dir.stat.writeable else true }}"
  shell:
    cmd: >
      {{ 'ANSIBLE_CONFIG=' + aap_install_installer_config if aap_install_installer_config else '' }}
      {{ aap_install_installer_dir }}/setup.sh
      -i {{ aap_install_inventory_path }}
      -p {{ aap_install_setup_log_dir }}
      --
      --become
      {{ aap_install_script_custom_parameters }}
    chdir: "{{ aap_install_setup_log_dir }}"
  changed_when: true
  when: aap_install_installer_run_always | bool or
        installer_package is changed or
        controller_info.status != 200 or
        (aap_install_hub_fqdn and hub_info.status != 200) or
        (aap_install_eda_controller_fqdn and eda_controller_info.status != 200)
