[automationcontroller]
{{ aap_install_controller_fqdn }}

[automationhub]
{{ aap_install_hub_fqdn }}

[automationedacontroller]
{{ aap_install_eda_controller_fqdn }}

[database]
{{ aap_install_controller_fqdn }}

[all:vars]
admin_password='{{ aap_install_admin_password }}'


pg_host='{{ aap_install_controller_fqdn }}'
pg_port=5432

pg_database='awx'
pg_username='awx'
pg_password='{{ aap_install_db_password }}'
pg_sslmode='prefer'


automationhub_admin_password='{{ aap_install_hub_admin_password }}'

automationhub_pg_host='{{ aap_install_controller_fqdn }}'
automationhub_pg_port=5432

automationhub_pg_database='automationhub'
automationhub_pg_username='automationhub'
automationhub_pg_password='{{ aap_install_db_password }}'
automationhub_pg_sslmode='prefer'

automationhub_seed_collections=true
#automationhub_importer_settings={'run_ansible_lint': True, 'offline_ansible_lint': True}
automationhub_enable_unauthenticated_collection_access=true
automationhub_enable_unauthenticated_collection_download=true
automationhub_enable_api_access_log={{ aap_install_hub_api_log_analytics }}
automationhub_enable_analytics={{ aap_install_hub_api_log_analytics }}


automationedacontroller_admin_password='{{ aap_install_eda_controller_admin_password }}'

automationedacontroller_pg_host='{{ aap_install_controller_fqdn }}'
automationedacontroller_pg_port=5432

automationedacontroller_pg_database='automationedacontroller'
automationedacontroller_pg_username='automationedacontroller'
automationedacontroller_pg_password='{{ aap_install_db_password }}'
automationedacontroller_controller_verify_ssl=false


automation_platform_version='{{ aap_install_version }}'

receptor_listener_port=27199

registry_url='{{ aap_install_registry_url }}'
registry_username='{{ aap_install_registry_username }}'
registry_password='{{ aap_install_registry_password }}'

enable_insights_collection={{ aap_install_insights_enable }}
