---
- name: Configure Ansible Automation Platform
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  vars:
    # AAP CaC top level dir
    config_basedir: aap_cac
    # Config file or directory to read
    # NB. !unsafe is lost when using include_vars so
    #     credential_types needs to be applied directly
    #config_content: aap_settings
    #config_content: test_org/02_teams.yml
    config_content: test_org

    # infra.aap_configuration parameters
    # Settings in files will override these
    aap_configuration_secure_logging: false

  tasks:
    - name: Read AAP CaC files
      no_log: "{{ aap_configuration_secure_logging | default(false) }}"
      vars:
        dir_input: "{{ false if config_content.endswith('yml') else true }}"
      ansible.builtin.include_vars:
        dir: "{{ config_basedir + '/' + config_content if dir_input else omit }}"
        file: "{{ config_basedir + '/' + config_content if not dir_input else omit }}"
        ignore_unknown_extensions: "{{ true if dir_input else omit }}"

    - name: Apply AAP configuration
      vars:
        dispatch_include_wildcard_vars: true
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch
