---
- name: Configure Ansible Automation Platform
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  vars:
    # AAP CaC top level dir
    config_basedir: aap_cac
    # AAP CaC files or directories to read
    #config_content: aap_config
    #config_content: test_org
    config_content:
      - aap_config
      - default_org
      - test_org
    #config_content:
    #  - aap_config/06_hub_collections.yml
    #  - aap_config/07_hub_exec_envs.yml
    #config_content:
    #  - test_org/02_teams.yml
    #  - test_org/03_users.yml
    #config_content:
    #  - test_org/05_ctrl_cac.yml

    # Optional list of files to ignore
    # when reading contents of directories
    #config_ignore:
    #  - '.*creds.*'
    #  - '.*hub.*'

    # Optionally reject duplicate variable definition
    # to prevent one setting to override earlier one,
    # with below known-good exceptions in the CaC dir
    # Set to empty list to skip check and allow dupes
    known_good_duplicates:
      # For independent EE/collection syncing
      - aap_configuration_async_delay
      - aap_configuration_async_retries
      - aap_request_timeout
      # For independent gateway/controller org
      - '^aap_organizations_test_org$'

    # Settings in files will override these for AAP
    aap_configuration_secure_logging: false
    aap_configuration_dispatcher_exclude_roles:
      - controller_inventory_source_update
      - hub_ee_registry_index
    aap_scm_update_projects: false
    hub_configuration_dispatcher_roles_include_publish: true

  tasks:
    - name: Verify no unexpected duplicate definitions
      vars:
        excludes_regex: "{{ known_good_duplicates | join('|') }}"
      ansible.builtin.shell: >
        set -o pipefail &&
        grep -rhP '^\w+:' "{{ config_basedir }}"
        | sed 's/://'
        | grep -Ev '({{ excludes_regex }})'
        | sort
        | uniq -d
        | cut -d' ' -f1
      register: shell_result
      failed_when: shell_result.rc != 0 or shell_result.stdout_lines | length > 0
      changed_when: false
      when: known_good_duplicates | select | length > 0

    - name: Read AAP CaC files
      no_log: "{{ aap_configuration_secure_logging | default(false) }}"
      vars:
        list_input: "{{ false if config_content is string else true }}"
        content_list: "{{ config_content if list_input else [config_content] }}"
        dir_input: "{{ false if item.endswith('yml') else true }}"
      ansible.builtin.include_vars:
        dir: "{{ (config_basedir + '/' + item) if dir_input else omit }}"
        depth: "{{ congig_depth if config_depth is defined and dir_input else omit }}"
        files_matching: "{{ config_matching if config_matching is defined and dir_input else omit }}"
        ignore_files: "{{ config_ignore if config_ignore is defined and dir_input else omit }}"
        ignore_unknown_extensions: "{{ true if dir_input else omit }}"
        file: "{{ (config_basedir + '/' + item) if not dir_input else omit }}"
      loop: "{{ content_list }}"

    - name: Apply AAP configuration
      vars:
        dispatch_include_wildcard_vars: true
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch
