---
- name: Export AAP in-use configuration
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  vars:
    aap_oauthtoken: "{{ aap_token }}"

    controller_configuration_filetree_create_secure_logging: false

    export_aap_configuration: false
    output_path: ./filetree_export
    flatten_output: false

  pre_tasks:
    - name: Remove previous export directory
      ansible.builtin.file:
        path: "{{ output_path }}"
        state: absent
      when: export_aap_configuration | bool

  roles:
    - name: infra.aap_configuration_extended.filetree_create
      # For now, see https://github.com/redhat-cop/aap_configuration_extended/issues/198
      vars:
        input_tag:
          - gateway
          - controller
          - eda
      when: export_aap_configuration | bool

  post_tasks:
    - name: Remove instance data from the exported controller settings file
      ansible.builtin.command:
        chdir: "{{ output_path }}"
        cmd: >
          sed -i
          -e '/LICENSE:/,/INSTALL_UUID:/d'
          -e '/CLEANUP_HOST_METRICS_LAST_TS/d'
          -e '/HOST_METRIC_SUMMARY_TASK_LAST_TS/d'
          controller_settings.yaml
      when: export_aap_configuration | bool

- name: Compare AAP in-cac and in-use configuration
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  vars:
    aap_configuration_secure_logging: false

    config_live_path: ./filetree_export
    config_repo_path: ./aap-config.git

    fail_if_different: true

  tasks:
    - name: Fail if configuration directories not found
      ansible.builtin.fail:
        msg: Configuration directory {{ item }} not found!
      loop:
        - "{{ config_live_path }}"
        - "{{ config_repo_path }}"
      when: item is not directory

    - name: Read AAP in-cac configuration
      no_log: "{{ aap_configuration_secure_logging | default(false) }}"
      ansible.builtin.include_vars:
        dir: "{{ config_repo_path }}"
        ignore_unknown_extensions: true
        name: config_repo

    - name: Read AAP in-use configuration
      no_log: "{{ aap_configuration_secure_logging | default(false) }}"
      ansible.builtin.include_vars:
        dir: "{{ config_live_path }}"
        ignore_unknown_extensions: true
        name: config_live

    # Fix to display differences correctly for missing items
    - name: Display high-level differences in configurations
      ansible.builtin.set_fact:
        config_diff: "{{ config_diff | default([]) + [item] }}"
      loop: "{{ config_live.keys() }}"
      when:
        - item in config_live
        - item in config_repo
        - config_live[item] is not none
        - config_repo[item] is not none
        - config_live[item] | symmetric_difference(config_repo[item])

    - name: Display detailed differences in configurations
      ansible.builtin.debug:
        msg: "{{ config_live[item] | symmetric_difference(config_repo[item]) }}"
      loop: "{{ config_diff | default([]) }}"
      when: not aap_configuration_secure_logging

    - name: Fail if requested when differences found
      ansible.builtin.fail:
        msg: "Configuration differences found, see above messages for details."
      when:
        - config_diff is defined
        - config_diff | length > 0
        - fail_if_different | bool
