[defaults]
nocows = True
# Alternatively use ANSIBLE_NO_TARGET_SYSLOG
#no_target_syslog = True

collections_scan_sys_path = True
collections_on_ansible_version_mismatch = error

inject_facts_as_vars = False

stdout_callback = ansible.builtin.default
callback_result_format = yaml
callback_result_indentation = 2
#callback_result_line_width = no-break
callback_format_pretty = True
#display_included_hosts = False
#display_skipped_hosts = False
#display_ok_hosts = False
#check_mode_markers = True
show_task_path_on_failure = True
# Alternatively use ANSIBLE_CALLBACKS_ENABLED
#callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
pipelining = True

# https://docs.ansible.com/projects/ansible/latest/collections_guide/collections_installing.html
[galaxy]
#gpg_keyring = $HOME/.ansible/gnupg/pubring.kbx
# Alternatively use ANSIBLE_GALAXY_IGNORE [sic]
ignore_certs = True

# Alternatively use ANSIBLE_GALAXY_SERVER_LIST
#server_list = private_certified, private_validated, private_community, private_published
server_list = private_published

[galaxy_server.private_certified]
# Alternatively use ANSIBLE_GALAXY_SERVER_PRIVATE_CERTIFIED_URL
url = https://gateway.example.com/api/galaxy/content/rh-certified/
# Use env var ANSIBLE_GALAXY_SERVER_PRIVATE_CERTIFIED_TOKEN for authentication

[galaxy_server.private_validated]
# Alternatively use ANSIBLE_GALAXY_SERVER_PRIVATE_VALIDATED_URL
url = https://gateway.example.com/api/galaxy/content/validated/
# Use env var ANSIBLE_GALAXY_SERVER_PRIVATE_VALIDATED_TOKEN for authentication

[galaxy_server.private_community]
# Alternatively use ANSIBLE_GALAXY_SERVER_PRIVATE_COMMUNITY_URL
url = https://gateway.example.com/api/galaxy/content/community/
# Use env var ANSIBLE_GALAXY_SERVER_PRIVATE_COMMUNITY_TOKEN for authentication

[galaxy_server.private_published]
# Alternatively use ANSIBLE_GALAXY_SERVER_PRIVATE_PUBLISHED_URL
url = https://gateway.example.com/api/galaxy/content/published/
# Use env var ANSIBLE_GALAXY_SERVER_PRIVATE_PUBLISHED_TOKEN for authentication
