[defaults]
# Alternatively use ANSIBLE_NO_TARGET_SYSLOG
#no_target_syslog = True

collections_on_ansible_version_mismatch = error

callback_result_format = yaml
callback_result_indentation = 2
callback_format_pretty = True
show_task_path_on_failure = True
# Alternatively use ANSIBLE_CALLBACKS_ENABLED
#callbacks_enabled = ansible.posix.profile_tasks

#remote_tmp = /tmp/$USER/ansible/tmp

[ssh_connection]
pipelining = True
