---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: -vvv
  PKGMGR_PRESERVE_CACHE: always

options:
  container_init:
    entrypoint: '["/opt/builder/bin/entrypoint"]'
    package_pip: ''
  package_manager_path: /usr/bin/microdnf
  # We can expect these being ok with AAP images
  skip_ansible_check: true
  skip_pip_install: true
  tags:
    - custom-full-rhel9:latest

images:
  base_image:
    name: gateway.example.com/ee-supported-rhel9:latest

dependencies:
  # Must match Python version with pip in base image
  python_interpreter:
    package_system: python3.11
    python_path: /usr/bin/python3.11
  # Exclude everything we are not adding ourselves
  exclude:
    # This would only consider deps from these collections
    #all_from_collections:
    #  - ~^(?!community|infra|myllynen).*
    python:
      - ~^(?!fastapi|flask).*
    system:
      - ~^(?!iputils).*
  galaxy:
    collections:
      - community.general
      #- community.windows
      - infra.aap_configuration
      - myllynen.rhel_ansible_roles
      #- myllynen.windows_ansible_roles
  python:
    - fastapi
    - flask
  system:
    - iputils
    # Packages often needed for building deps
    #- gcc [platform:rpm]
    #- python3.11-devel [platform:rpm]
    #- python3.11-requests [platform:rpm]
    #- systemd-devel [platform:rpm]

additional_build_files:
  - src: ansible.cfg
    dest: configs
  - src: ansible-ee.cfg
    dest: configs
  - src: pip.conf
    dest: configs

additional_build_steps:
  prepend_base:
    - ADD _build/configs/pip.conf /etc/pip.conf
  prepend_galaxy:
    - ADD _build/configs/ansible.cfg /etc/ansible/ansible.cfg
  prepend_final:
    - ADD _build/configs/ansible-ee.cfg /etc/ansible/ansible.cfg
  append_final:
    - RUN rm -rf /etc/yum.repos.d/* /var/{cache,lib}/{dnf,yum} /etc/pip.conf
